body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
}

input[type="text"] {
    padding: 8px;
    width: 60%;
}

button {
    padding: 8px 16px;
}

img {
    margin-top: 20px;
    margin-bottom: 30px;
}


#container {
    margin-top: 20px;
    border: 1px solid rgb(27, 11, 11);
    background-color: rgb(139, 139, 139);
    border-radius: 6px;
    text-align: center;
}